In [5]:
import pandas as pd
import numpy as np

In [6]:
from numpy.random import randint
np.random.seed(321)

In [7]:
# names of the companies, a value for each row
companies = ["Jolly Good Toys Ltd",
            "Pristine Machines Inc.",
            "Piggy Bank Corporation",
            "Cars & Gears Foundation"]

# avoid whitespaces in column names, since often you need to
# filter data in pandas, and whitespaces are buggy some times
sales = ["Europe", "North_America", "South_America", "Asia", "Africa", "Other"]

# generate the "random" sales numbers with the locked seed
# size is 4 x 6 => 4 companies, 6 sales categories
numbers = randint(99999, size=(4,6))

In [8]:
# combine everything into a DataFrame
df = pd.DataFrame(numbers, companies, sales)

In [9]:
df

,Europe,North_America,South_America,Asia,Africa,Other
Jolly Good Toys Ltd,97268,6682,4220,43807,5929,91537
Pristine Machines Inc.,24744,69018,99288,14068,90469,94536
Piggy Bank Corporation,28243,44245,21633,78619,45594,37389
Cars & Gears Foundation,57643,46518,71742,99722,48613,97335

In [14]:
def sales_category(row):
    total_sales = row['Europe'] + row['North_America'] + row['South_America'] + \
                  row['Asia'] + row['Africa'] + row['Other'] 

    if total_sales < 200000:
        return "Small"
    elif 200000 <= total_sales <= 300000:
        return "Medium"
    else:
        return "Large"

In [15]:
df["Company size"] = df.apply(sales_category, axis = 1)

In [16]:
df

,Europe,North_America,South_America,Asia,Africa,Other,Company size
Jolly Good Toys Ltd,97268,6682,4220,43807,5929,91537,Medium
Pristine Machines Inc.,24744,69018,99288,14068,90469,94536,Large
Piggy Bank Corporation,28243,44245,21633,78619,45594,37389,Medium
Cars & Gears Foundation,57643,46518,71742,99722,48613,97335,Large