In [1]:
 import numpy as np

In [2]:
%load_ext numpy_html

In [3]:
%%html
<style>
table {margin-top: 16pt;}
td {font-family: Arial, Helvetica, sans-serif !important; font-weight: 600; white-space: normal !important;}
tr:nth-child(even) {background: #b0d9eb !important; color: black}
tr:nth-child(odd) {background: #8fb1bf !important; color: black}
</style>

In [4]:
data = np.arange(0, 11)
data

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [5]:
element = data[5]
element

5

In [11]:
slice = data[3: 7]
slice

array([3, 4, 5, 6])

In [14]:
slice = data[:4]
slice

array([0, 1, 2, 3])

In [13]:
slice = data[5:]
slice

array([ 5,  6,  7,  8,  9, 10])

In [23]:
data = np.random.randint(0, 100, 25).reshape(5, 5)
data

array([[50, 49, 60, 23,  5],
       [ 7, 58, 59,  6, 99],
       [59, 27, 42,  4, 77],
       [70, 29, 90, 81, 19],
       [63, 37, 18, 85, 24]])

In [18]:
data[1, 3]

7

In [19]:
data[0]

array([63, 17, 45, 67, 76])

In [20]:
data[:2, :1]

array([[63],
       [78]])

In [26]:
data[:2, 1:]

array([[49, 60, 23,  5],
       [58, 59,  6, 99]])

In [ ]:
# Conditional statements

In [41]:
data = np.arange(1, 11)
data

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [42]:
filtered_data = data[data > 5]
filtered_data

array([ 6,  7,  8,  9, 10])

In [43]:
data = np.arange(0, 10)
data

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [44]:
data[0:5]=100
data

array([100, 100, 100, 100, 100,   5,   6,   7,   8,   9])

In [46]:
slice = data[0:5]
slice[:] = 150
slice

array([150, 150, 150, 150, 150])

In [48]:
# Numpy, calculation operations

In [49]:
data = np.arange(0, 11)
data

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [50]:
combined = data + data
combined

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [51]:
reduced = data - data
reduced

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [52]:
multiplied = data * 100
multiplied

array([   0,  100,  200,  300,  400,  500,  600,  700,  800,  900, 1000])

In [54]:
data = np.ones(5).astype(int) * 7
data

array([7, 7, 7, 7, 7])

0.0