In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv("sales_impartial.csv")
df

,Index,Europe,North_America,South_America,Asia,Africa,Other
0,Jolly Good Toys Ltd,97268,6682,4220,43807,5929,91537.0
1,Pristine Machines Inc.,24744,69018,99288,14068,90469,NaN
2,Piggy Bank Corporation,28243,44245,21633,78619,45594,37389.0
3,Cars & Gears Foundation,57643,46518,71742,99722,48613,97335.0
4,Imaginary Company Ltd,62498,14226,81833,17842,25612,47118.0
5,Happy Coders Inc.,73963,43890,13834,75169,11776,NaN

In [7]:
houses_2M = df[df["price"] > 2000000]

KeyError: 'price'

In [8]:
grade_means = df.groupby("grade").mean()

KeyError: 'grade'