<h3><b>Introduction to Data Analytics - Exercise set 5 - data processing and management</b></h3>

Put all your exercises (Jupyter Notebooks or Python-files) in your course Git-project.
Use either code comments or Jupyter Notebook markdown (text) to document which exercise you are doing and what a certain code section does! 
You can return all of these exercises in a single Jupyter Notebook, if you wish.

<p style="color: red;"><b>NOTE: The JSON/XML –files in Moodle in these exercises have been randomly generated. In other words, the data doesn't make any sense!</b></p>

In [41]:
# you can import numpy and pandas here etc.
import json
import numpy as np
import pandas as pd
import seaborn as sns
import xml.etree.ElementTree as et

<h4><b>1. </b>Download <b>"simple.json"</b> in Moodle, and load it in pandas.</b> </h4>
<p>
The DataFrame should look like this:
</p>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex51.png" width="1000"/>

In [42]:
# download, covert to df and open it
df = pd.read_json("simple.json")
df

,id,brand,model,year,owned_by,acquired,price
0,1,Chrysler,Voyager,2001,Wolff-Trantow,28/12/2016,11565
1,2,Volkswagen,Jetta,1995,"Schuppe, Pfeffer and Klein",20/4/2016,52431
2,3,Porsche,Cayenne,2005,Mante Group,11/6/2020,75552
3,4,Porsche,928,1994,Wisozk Group,17/6/2019,30331
4,5,Mercedes-Benz,SL-Class,2007,Schiller-Littel,20/7/2018,62385
...,...,...,...,...,...,...,...
95,96,Dodge,Ram 1500 Club,2000,Schneider-Donnelly,28/9/2016,56256
96,97,GMC,Yukon XL 2500,2001,"Powlowski, Lemke and Wiza",19/4/2016,50163
97,98,Chevrolet,Sportvan G20,1992,"O'Keefe, Rogahn and Gleichner",1/6/2019,8577
98,99,Mitsubishi,3000GT,1993,Hoppe-Kunde,29/12/2018,23180
99,100,Chevrolet,TrailBlazer,2002,Wunsch-Friesen,14/11/2018,76830

<h4><b>2.</b> Download <b>"simple.xml"</b> in Moodle, and load it in pandas</h4>
<p>
<span style="color: red"><b>Note:</b> pandas.read_xml() doesn't work well with this data.</span><br /><br >The Series should look something like this:
</p>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex52.png" />

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex52cars.jpg" width="600" />

In [43]:
# load XML-file, and get root node
xtree = et.parse("simple.xml")
node = xtree.getroot()

# column names for pandas to create DataFrame later
df_cols = ["id", "brand", "model", "year", "owned_by", "acquired", "price"]
rows = []

# parse values
e_id = node.find("id").text
e_brand = node.find("brand").text
e_model = node.find("model").text
e_year = node.find("year").text
e_owned_by = node.find("owned_by").text
e_acquired = node.find("acquired").text
e_price = node.find("price").text

# create DataFrame
rows.append({"id": e_id, "brand": e_brand, "model": e_model, "year": e_year, "owned_by": e_owned_by, "acquired": e_acquired, "price": e_price})
out_df = pd.DataFrame(rows, columns = df_cols)
out_df

  id       brand   model  year                    owned_by    acquired  price
0  1  Oldsmobile  Aurora  2003  Herzog, Rodriguez and Howe  21/10/2016  32571

<h4><b>3. Load this API-data into a pandas DataFrame:</b></h4>
<p><a href="https://edu.frostbit.fi/api/events/en/">https://edu.frostbit.fi/api/events/en/</a></p>

<p>
Remember to use json_normalize to help you out with the categories and address information.<br /><b>Have address information in their own columns, and categories as separate rows.</b><br />The DataFrame should look something like this (note that the data changes daily, and exact values will vary):


</p>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex53.png"/>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex53events.jpg" width="600" />

In [44]:
# import modules
import requests
import pandas as pd
from pandas import json_normalize
from urllib.request import urlopen

# url address where the data is
url = f"https://edu.frostbit.fi/api/events/en/"

# download data
response = urlopen(url)
response = json.loads(response.read().decode())

# print data to see a structure
response

[{'name': 'Nordic Theatre Companyn näytelmä TAIDE',
  'date': '21.5.2023',
  'categories': ['englanti', 'ruotsi', 'suomi', 'teatteri', 'theatre'],
  'address': {'street_address': 'Kasarmikatu 46-48', 'postal_code': '00130'}},
 {'name': 'Learn Finnish by singing – workshop – Singing workshops for immigrants',
  'date': '25.5.2023',
  'categories': ['englanti',
   'music',
   'musiikki',
   'ruotsi',
   'stoa',
   'suomi',
   'työpajat'],
  'address': {'street_address': 'Turunlinnantie 1', 'postal_code': '00900'}},
 {'name': 'Children’s summer music classes',
  'date': '31.5.2023',
  'categories': ['annantalo',
   'children (age groups)',
   'englanti',
   'lastentapahtumat',
   'music',
   'musiikki',
   'ruotsi',
   'suomi'],
  'address': {'street_address': 'Annankatu 30', 'postal_code': '00100'}},
 {'name': 'Sing-alongs at Malmitalo',
  'date': '23.5.2023',
  'categories': ['englanti',
   'malmitalo',
   'music',
   'musiikki',
   'ruotsi',
   'suomi'],
  'address': {'street_address': 'Ala-Malmin tori 1', 'postal_code': '00700'}},
 {'name': 'Waters',
  'date': '20.5.2023',
  'categories': ['caisa',
   'children (age groups)',
   'englanti',
   'lastentapahtumat',
   'ruotsi',
   'suomi'],
  'address': {'street_address': 'Kaikukatu 4, Helsinki',
   'postal_code': '00530'}},
 {'name': 'Band Marathon of Sibelius-lukio Upper Secondary School',
  'date': '22.5.2023',
  'categories': ['englanti',
   'espan lava',
   'music',
   'musiikki',
   'ruotsi',
   'suomi'],
  'address': {'street_address': 'Eteläesplanadi 1', 'postal_code': '00130'}},
 {'name': 'Sansusī: Strange people stand very strangely',
  'date': '9.6.2023',
  'categories': ['annantalo',
   'children (age groups)',
   'englanti',
   'lastentapahtumat',
   'music',
   'musiikki',
   'nuorille',
   'ruotsi',
   'suomi',
   'teatteri',
   'theatre',
   'young people'],
  'address': {'street_address': 'Annankatu 30', 'postal_code': '00100'}},
 {'name': 'Helsinki City Information',
  'date': '30.5.2023',
  'categories': ['englanti',
   'kanneltalo',
   'lan parties',
   'muu',
   'ruotsi',
   'suomi'],
  'address': {'street_address': 'Klaneettitie 5', 'postal_code': '00420'}},
 {'name': 'Auraco: Tuntu – X Dance Festival',
  'date': '30.5.2023',
  'categories': ['annantalo',
   'dance (performing arts)',
   'englanti',
   'ohjelmasivun päänosto',
   'ruotsi',
   'suomi',
   'tanssi'],
  'address': {'street_address': 'Annankatu 30', 'postal_code': '00100'}},
 {'name': 'Art workout – let art move you!',
  'date': '4.5.2023',
  'categories': [],
  'address': {'street_address': 'Klaneettitie 5', 'postal_code': '00420'}},
 {'name': 'TUNTU workshop – moving landscapes – X Dance Festival',
  'date': '30.5.2023',
  'categories': ['annantalo',
   'children (age groups)',
   'dance (performing arts)',
   'englanti',
   'lastentapahtumat',
   'ruotsi',
   'suomi',
   'tanssi'],
  'address': {'street_address': 'Annankatu 30', 'postal_code': '00100'}}]

In [45]:
# normalize data to have separate rows for categories
events = pd.json_normalize(
    response,
    record_path = ['categories'], 
    meta=['name', "date", ['address', 'street_address'], ['address', 'postal_code']], 
    errors='ignore'
)

# for some reasons renaming does not work
events = events.rename(columns={"0": "categories"})

# print the dataframe
events

,0,name,date,address.street_address,address.postal_code
0,englanti,Nordic Theatre Companyn näytelmä TAIDE,21.5.2023,Kasarmikatu 46-48,00130
1,ruotsi,Nordic Theatre Companyn näytelmä TAIDE,21.5.2023,Kasarmikatu 46-48,00130
2,suomi,Nordic Theatre Companyn näytelmä TAIDE,21.5.2023,Kasarmikatu 46-48,00130
3,teatteri,Nordic Theatre Companyn näytelmä TAIDE,21.5.2023,Kasarmikatu 46-48,00130
4,theatre,Nordic Theatre Companyn näytelmä TAIDE,21.5.2023,Kasarmikatu 46-48,00130
...,...,...,...,...,...
66,englanti,TUNTU workshop – moving landscapes – X Dance F...,30.5.2023,Annankatu 30,00100
67,lastentapahtumat,TUNTU workshop – moving landscapes – X Dance F...,30.5.2023,Annankatu 30,00100
68,ruotsi,TUNTU workshop – moving landscapes – X Dance F...,30.5.2023,Annankatu 30,00100
69,suomi,TUNTU workshop – moving landscapes – X Dance F...,30.5.2023,Annankatu 30,00100
70,tanssi,TUNTU workshop – moving landscapes – X Dance F...,30.5.2023,Annankatu 30,00100

<h4><b>4. Use web scraping (e.g. BeautifulSoup), and use it to get the following info from the Rovaniemi Wikipedia –page</b></h4>
<p><b>Wiki-page:</b> <a href="https://en.wikipedia.org/wiki/Rovaniemi">https://en.wikipedia.org/wiki/Rovaniemi</a></p>

<b>Tasks:</b>
<ul>
    <li>Get the coordinates of Rovaniemi (upper right corner)</li>
    <li>Get the nickname of Rovaniemi (under coat of arms)</li>
</ul>

<b>Advanced extra tasks:</b>
<ul>
    <li><b>Get the total population</b></li>
    <ul>
        <li><b>Note:</b> this is a good example why webscraping can be tedious, since you'll have to traverse the HTML-tree to get what you want. This might be helpful:<br />
<a href="https://realpython.com/beautiful-soup-web-scraper-python/">https://realpython.com/beautiful-soup-web-scraper-python/</a></li>
    </ul>
    
</ul>

<ul>
    <li><b>Get the total area</b></li>
    <ul>
        <li>Convert this number into a float decimal (i.e. remove commas and the unit and call float() –in Python!)</li>
    </ul>
    
</ul>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex54rovaniemi.jpg" width="600" />

In [46]:
# needed modules for webscraping
from bs4 import BeautifulSoup
import requests

In [47]:
# website url
url = "https://en.wikipedia.org/wiki/Rovaniemi"
response = requests.get(url)

# create a soup -object that allows us to find elements in the HTML page
soup = BeautifulSoup(response.content, "html.parser")

In [48]:
# get and print the coordinates
coordinates_tag = soup.select_one(".geo-dec")
coordinates = coordinates_tag.text.strip()
print("Coordinates:", coordinates)

Coordinates: 66.500°N 25.733°E

In [49]:
# get the nickname
nickname_tag = soup.select_one(".nickname")
nickname = nickname_tag.text.strip()
print("Nicknames:", nickname)

Nicknames: Roavvenjárga (Northern Sami)Ruávinjargâ (Inari Sami)Ruäʹvnjargg (Skolt Sami)

<h4><b>5. Use web scraping, and create a DataFrame of this table: </b></h4>
<p> <a href="https://en.wikipedia.org/wiki/List_of_countries_by_average_yearly_temperature">https://en.wikipedia.org/wiki/List_of_countries_by_average_yearly_temperature</a></p>

<ul>
    <li>Change the name of the value column to "avg_temp" as well (pandas column rename)</li>
</ul>

<b>Advanced extra task:</b>
<ul>
    <li><b>Scrape these two tables as well</b></li>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/List_of_countries_by_employment_rate">https://en.wikipedia.org/wiki/List_of_countries_by_employment_rate</a></li>
        <li><a href="https://en.wikipedia.org/wiki/List_of_countries_by_unemployment_rate">https://en.wikipedia.org/wiki/List_of_countries_by_unemployment_rate</a></li>
    </ul>
    <br />
    <ul>
        <li><b>Combine the tables into a single DataFrame so that you get only the data of year 2020 or newer, and have the columns <span style="color: darkorange">"Country", "EmploymentRate"</span> and <span style="color: darkorange">"UnemploymentRate"</span>. You can also create additional columns <span style="color: indigo">"EmploymentRate15_24"</span>and <span style="color: indigo">" EmploymentRate25_70"</span> if you scrape the OECD-table as well! </b>

</li>
    </ul>
</ul>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex55stocks.jpg" width="600" />

In [50]:
# Send a request to the website and get the HTML content
url = "https://en.wikipedia.org/wiki/List_of_countries_by_average_yearly_temperature"
response = requests.get(url)
html_content = response.content

# create a soup -object that allows us to find elements in the HTML page
# create a table
soup = BeautifulSoup(html_content, "html.parser")
table = soup.find("table", {"class": "wikitable sortable"})

# Convert the table into a DataFrame using pandas
df = pd.read_html(str(table))[0]

# Rename the value column to "avg_temp"
df.rename(columns={"Average yearly temperature (1961–1990 Celsius)": "Avg_temp"}, inplace=True)

df

              Country Avg_temp
0        Burkina Faso    28.29
1                Mali    28.25
2            Kiribati    28.20
3            Djibouti    28.00
4            Maldives    28.00
..                ...      ...
187   Norway [note 1]    01.50
188           Iceland    −0.70
189  Denmark [note 2]    −3.70
190            Canada    −5.10
191            Russia    −5.35

[192 rows x 2 columns]

In [51]:
# advanced extra task

# send a request to the 1st URL and get the HTML content
url1 = "https://en.wikipedia.org/wiki/List_of_countries_by_employment_rate"
response1 = requests.get(url1)
html_content1 = response1.content

In [52]:
# parse the HTML content using BeautifulSoup and get the table
soup1 = BeautifulSoup(html_content1, "html.parser")
table1 = soup1.find_all("table", {"class": "wikitable"})[0]

# convert the table into a df
df_emp = pd.read_html(str(table1))[0]

In [53]:
# do the same work with the second table
# send a request to the 2nd URL and get the HTML content
url2 = "https://en.wikipedia.org/wiki/List_of_countries_by_unemployment_rate"
response2 = requests.get(url2)
html_content2 = response2.content

# parse the HTML content using BeautifulSoup and extract the table
soup2 = BeautifulSoup(html_content2, "html.parser")
table2 = soup2.find_all("table", {"class": "wikitable"})[0]

# also convert the table into a DataFrame
df_unemp = pd.read_html(str(table2))[0]

In [54]:
# merge the two DataFrames on country name
df_merged = pd.merge(df_emp, df_unemp, on="Country")

# get only data from year 2020 or newer
# but before we have to change the format of "Year" column
df_merged["Year"] = df_merged["Year"].astype(int)
df_merged = df_merged[df_merged["Year"] >= 2020]

# change names of columns
df_merged = df_merged.rename(columns={"Rate .mw-parser-output .nobold{font-weight:normal}(%)": "EmploymentRate", "Unemployment rate (%)": "UnemploymentRate"})

# choose which columns to show
df_merged = df_merged.loc[:, ["Country", "EmploymentRate", "UnemploymentRate"]]

# print df
df_merged

             Country  EmploymentRate  UnemploymentRate
0      New Zealand *            79.2              3.30
1          Denmark *            76.5              4.50
2           Sweden *            76.0              7.70
3   United Kingdom *            75.5              3.50
4        Australia *            75.3              3.40
6          Estonia *            75.0              5.70
7           Canada *            74.7              4.90
8          Hungary *            73.9              3.00
9            Malta *            73.8              3.00
10         Finland *            73.5              6.70
11          Russia *            72.2              3.90
12        Portugal *            71.0              6.10
13          Poland *            70.9              2.70
14   United States *            70.5              3.50
15        Slovakia *            70.5              6.00
16        Bulgaria *            68.5              4.30
17          France *            67.7              7.20
18     South Korea *            67.2              2.90
19         Belgium *            66.0              5.50
20           Spain *            63.8             12.48
21         Croatia *            62.0              6.10
22          Mexico *            61.9              3.30
23          Greece *            59.2             12.30
24          Brazil *            56.7              9.30
25          Turkey *            51.7             10.30
26           India *            49.0              7.80
27    South Africa *            36.5             32.90


<h2><b>Advanced extra tasks for extra points (varying challenges, some require Googling):</b></h2>

<ul>
<li><b>1. Download the "complex.json" –file from Moodle.</b> Note that this data is fairly complex (i.e. heavily nested). Use json_normalize and other needed methods to convert this data into a workable DataFrame.</li>
</ul>

In [55]:
# download json file to see the structure
json_file = open("complex.json") 
json_data = json_file.read()
data = json.loads(json_data)
data

[{'id': 1,
  'brand': 'Ford',
  'model': 'F250',
  'year': 1997,
  'ownership': {'company': 'Johns and Sons',
   'acquired': '24/10/2017',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'SA47 315V KYTA 8FVT NCGN MM7G'}},
  'price': 72213},
 {'id': 2,
  'brand': 'Dodge',
  'model': 'Grand Caravan',
  'year': 1999,
  'ownership': {'company': 'Crist, Hyatt and Leannon',
   'acquired': '7/6/2020',
   'payment_info': {'credit_card': 'instapayment',
    'iban': 'FR74 8157 1767 53I2 VRAN ZMIB U11'}},
  'price': 42370},
 {'id': 3,
  'brand': 'Audi',
  'model': 'A5',
  'year': 2011,
  'ownership': {'company': 'Bosco and Sons',
   'acquired': '23/11/2018',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'LB32 4989 VCVZ S5BZ X2CT JKG3 QRAW'}},
  'price': 19191},
 {'id': 4,
  'brand': 'Hyundai',
  'model': 'Veracruz',
  'year': 2012,
  'ownership': {'company': 'Haley Inc',
   'acquired': '5/6/2016',
   'payment_info': {'credit_card': 'bankcard', 'iban': 'BE62 4961 0596 5774'}},
  'price': 21956},
 {'id': 5,
  'brand': 'Chevrolet',
  'model': 'TrailBlazer',
  'year': 2009,
  'ownership': {'company': 'Zulauf, Nolan and Franecki',
   'acquired': '14/1/2021',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'FR11 1768 5506 10IU QVPN XU2H O88'}},
  'price': 53066},
 {'id': 6,
  'brand': 'Suzuki',
  'model': 'SX4',
  'year': 2009,
  'ownership': {'company': 'Beahan-Kemmer',
   'acquired': '19/8/2020',
   'payment_info': {'credit_card': 'diners-club-enroute',
    'iban': 'FR44 1074 9232 57HS SESJ VMX2 T05'}},
  'price': 76989},
 {'id': 7,
  'brand': 'Dodge',
  'model': 'Caravan',
  'year': 2011,
  'ownership': {'company': 'Tillman-Adams',
   'acquired': '28/12/2016',
   'payment_info': {'credit_card': 'china-unionpay',
    'iban': 'HU31 5275 6256 6296 0215 6455 4947'}},
  'price': 47224},
 {'id': 8,
  'brand': 'Lamborghini',
  'model': 'Murciélago',
  'year': 2004,
  'ownership': {'company': 'Willms, Daniel and Moen',
   'acquired': '3/1/2020',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'FR08 2410 9134 55VM 6JEB Q398 O05'}},
  'price': 73440},
 {'id': 9,
  'brand': 'Land Rover',
  'model': 'Range Rover',
  'year': 1987,
  'ownership': {'company': 'Schaden LLC',
   'acquired': '17/9/2017',
   'payment_info': {'credit_card': 'diners-club-enroute',
    'iban': 'SE38 2132 3892 5739 8284 0358'}},
  'price': 7323},
 {'id': 10,
  'brand': 'Jeep',
  'model': 'Wrangler',
  'year': 2005,
  'ownership': {'company': 'Steuber-Larkin',
   'acquired': '6/3/2019',
   'payment_info': {'credit_card': 'mastercard',
    'iban': 'BR97 6312 1913 1086 5715 8036 596C F'}},
  'price': 65832},
 {'id': 11,
  'brand': 'Ford',
  'model': 'Econoline E150',
  'year': 2002,
  'ownership': {'company': 'Okuneva-Leffler',
   'acquired': '1/3/2019',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'FR97 7184 5573 779P 5OER 4K29 G52'}},
  'price': 63760},
 {'id': 12,
  'brand': 'Mercury',
  'model': 'Mystique',
  'year': 1995,
  'ownership': {'company': 'Breitenberg and Sons',
   'acquired': '5/10/2020',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'FR70 6510 4949 07RN SYVA GRJM 162'}},
  'price': 44422},
 {'id': 13,
  'brand': 'Pontiac',
  'model': 'Firebird',
  'year': 1998,
  'ownership': {'company': 'Hintz, Russel and Romaguera',
   'acquired': '6/7/2020',
   'payment_info': {'credit_card': 'mastercard',
    'iban': 'FI76 6066 3469 7106 36'}},
  'price': 61548},
 {'id': 14,
  'brand': 'GMC',
  'model': 'Sierra 2500',
  'year': 2004,
  'ownership': {'company': 'Hackett-Witting',
   'acquired': '21/7/2017',
   'payment_info': {'credit_card': 'china-unionpay',
    'iban': 'MR27 6334 1683 6312 8995 5765 346'}},
  'price': 14008},
 {'id': 15,
  'brand': 'Toyota',
  'model': 'Sequoia',
  'year': 2005,
  'ownership': {'company': 'Toy LLC',
   'acquired': '2/8/2017',
   'payment_info': {'credit_card': 'americanexpress',
    'iban': 'DE37 3353 7864 1930 2218 40'}},
  'price': 39849},
 {'id': 16,
  'brand': 'GMC',
  'model': 'Vandura G1500',
  'year': 1995,
  'ownership': {'company': 'Wintheiser-Strosin',
   'acquired': '22/8/2018',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'IT24 Z305 8673 340B UJFP AUHQ CQX'}},
  'price': 60510},
 {'id': 17,
  'brand': 'Volkswagen',
  'model': 'Cabriolet',
  'year': 1996,
  'ownership': {'company': 'Collins, Sanford and Feest',
   'acquired': '20/5/2016',
   'payment_info': {'credit_card': 'china-unionpay',
    'iban': 'AZ66 BPSO ORA7 0GDK WR5D ESA0 3HCZ'}},
  'price': 30461},
 {'id': 18,
  'brand': 'Mercury',
  'model': 'Grand Marquis',
  'year': 1993,
  'ownership': {'company': 'Parisian-Stanton',
   'acquired': '7/11/2019',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'CR11 5271 6254 3287 5170 6'}},
  'price': 58134},
 {'id': 19,
  'brand': 'Dodge',
  'model': 'Ram',
  'year': 2003,
  'ownership': {'company': 'Ernser, Bernier and Paucek',
   'acquired': '20/10/2020',
   'payment_info': {'credit_card': 'jcb', 'iban': 'LU64 922A VUPC VVMF B8YC'}},
  'price': 64704},
 {'id': 20,
  'brand': 'Infiniti',
  'model': 'QX',
  'year': 2008,
  'ownership': {'company': 'Leannon, Kozey and Maggio',
   'acquired': '29/6/2018',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'FR39 4558 9483 949D XQQE 4RQ2 R72'}},
  'price': 28421},
 {'id': 21,
  'brand': 'Volvo',
  'model': 'C70',
  'year': 2007,
  'ownership': {'company': 'Stiedemann, Zemlak and Schultz',
   'acquired': '16/12/2016',
   'payment_info': {'credit_card': 'laser',
    'iban': 'CH27 8989 2ILS SRKL UKNR P'}},
  'price': 44965},
 {'id': 22,
  'brand': 'Suzuki',
  'model': 'Esteem',
  'year': 1998,
  'ownership': {'company': 'Ortiz and Sons',
   'acquired': '10/6/2016',
   'payment_info': {'credit_card': 'bankcard',
    'iban': 'FR46 2211 7163 999X AWKV XTPI Z83'}},
  'price': 33613},
 {'id': 23,
  'brand': 'Volvo',
  'model': '240',
  'year': 1992,
  'ownership': {'company': 'Sawayn-Nienow',
   'acquired': '25/7/2017',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'MR67 1102 8334 2485 6399 1644 229'}},
  'price': 53220},
 {'id': 24,
  'brand': 'Hyundai',
  'model': 'Santa Fe',
  'year': 2010,
  'ownership': {'company': 'Upton and Sons',
   'acquired': '27/4/2016',
   'payment_info': {'credit_card': 'bankcard',
    'iban': 'AD85 2566 7827 6EQM MX9W TB7R'}},
  'price': 49612},
 {'id': 25,
  'brand': 'Mazda',
  'model': 'Mazdaspeed 3',
  'year': 2012,
  'ownership': {'company': 'Simonis LLC',
   'acquired': '10/5/2018',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'AD29 0648 6346 XVA9 AI5G B75N'}},
  'price': 52121},
 {'id': 26,
  'brand': 'Subaru',
  'model': 'Legacy',
  'year': 1999,
  'ownership': {'company': 'Hammes, Rath and Stamm',
   'acquired': '13/10/2018',
   'payment_info': {'credit_card': 'diners-club-carte-blanche',
    'iban': 'SE73 6104 1970 2255 1113 3374'}},
  'price': 39868},
 {'id': 27,
  'brand': 'Maserati',
  'model': 'Spyder',
  'year': 2005,
  'ownership': {'company': 'Heathcote, Stamm and Oberbrunner',
   'acquired': '1/5/2018',
   'payment_info': {'credit_card': 'mastercard',
    'iban': 'HU82 8077 7360 3111 2786 6697 9753'}},
  'price': 23434},
 {'id': 28,
  'brand': 'BMW',
  'model': '525',
  'year': 2004,
  'ownership': {'company': 'Huels and Sons',
   'acquired': '22/4/2019',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'FR63 3711 8388 59W5 X0AW 6IIF X94'}},
  'price': 10558},
 {'id': 29,
  'brand': 'Toyota',
  'model': 'Xtra',
  'year': 1995,
  'ownership': {'company': 'Feest-Ankunding',
   'acquired': '27/3/2019',
   'payment_info': {'credit_card': 'maestro',
    'iban': 'MK96 872C SC64 FPXO W91'}},
  'price': 24017},
 {'id': 30,
  'brand': 'Ford',
  'model': 'Bronco',
  'year': 1994,
  'ownership': {'company': 'Barrows LLC',
   'acquired': '10/8/2018',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'AZ06 RALK CYVN 652A NB5R 62SC CXWS'}},
  'price': 8142},
 {'id': 31,
  'brand': 'Ford',
  'model': 'Expedition',
  'year': 2009,
  'ownership': {'company': 'Stoltenberg-Schultz',
   'acquired': '29/8/2017',
   'payment_info': {'credit_card': 'diners-club-us-ca',
    'iban': 'LV97 KSHQ QLNF QZGJ J0RC A'}},
  'price': 10351},
 {'id': 32,
  'brand': 'Chrysler',
  'model': 'Crossfire',
  'year': 2006,
  'ownership': {'company': 'Kihn, Medhurst and Ryan',
   'acquired': '9/6/2016',
   'payment_info': {'credit_card': 'maestro',
    'iban': 'AL61 2928 7060 HH6X 29FB LBL9 JAQC'}},
  'price': 64403},
 {'id': 33,
  'brand': 'Mercedes-Benz',
  'model': 'C-Class',
  'year': 2000,
  'ownership': {'company': 'West, DuBuque and Goodwin',
   'acquired': '10/9/2019',
   'payment_info': {'credit_card': 'visa-electron',
    'iban': 'RS62 6062 2392 0140 0316 68'}},
  'price': 27590},
 {'id': 34,
  'brand': 'Chrysler',
  'model': 'LHS',
  'year': 1999,
  'ownership': {'company': 'Kassulke and Sons',
   'acquired': '14/5/2017',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'CR75 5745 3052 0582 2425 2'}},
  'price': 75534},
 {'id': 35,
  'brand': 'Dodge',
  'model': 'Dakota Club',
  'year': 1997,
  'ownership': {'company': 'Wilkinson Group',
   'acquired': '7/4/2019',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'GR59 2258 056K B6ZM LMFH NKQA I5U'}},
  'price': 26592},
 {'id': 36,
  'brand': 'Ford',
  'model': 'Taurus',
  'year': 1996,
  'ownership': {'company': 'Hahn, Lowe and Johnson',
   'acquired': '10/9/2020',
   'payment_info': {'credit_card': 'switch',
    'iban': 'BA78 0467 8310 1145 5193'}},
  'price': 17268},
 {'id': 37,
  'brand': 'Chrysler',
  'model': 'Town & Country',
  'year': 2006,
  'ownership': {'company': 'Connelly-Ryan',
   'acquired': '12/6/2020',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'BH92 UKKA 1ULK WG5Z TYQX ND'}},
  'price': 32937},
 {'id': 38,
  'brand': 'Pontiac',
  'model': 'Grand Prix',
  'year': 2006,
  'ownership': {'company': 'Zboncak-Senger',
   'acquired': '19/11/2019',
   'payment_info': {'credit_card': 'switch',
    'iban': 'AL73 3466 6547 MY5H DXUP UGJZ ILCW'}},
  'price': 12163},
 {'id': 39,
  'brand': 'Chevrolet',
  'model': 'G-Series G30',
  'year': 1993,
  'ownership': {'company': 'Hagenes Group',
   'acquired': '16/7/2017',
   'payment_info': {'credit_card': 'visa-electron',
    'iban': 'FR27 5909 5197 71X2 JC0G NTHR L00'}},
  'price': 47710},
 {'id': 40,
  'brand': 'GMC',
  'model': 'Envoy',
  'year': 2006,
  'ownership': {'company': 'Feest-Donnelly',
   'acquired': '22/3/2019',
   'payment_info': {'credit_card': 'jcb', 'iban': 'FO28 8508 7701 4222 55'}},
  'price': 19436},
 {'id': 41,
  'brand': 'Mercury',
  'model': 'Grand Marquis',
  'year': 1992,
  'ownership': {'company': 'Gerhold, Fisher and Jacobs',
   'acquired': '10/8/2020',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'BR24 2388 5007 3477 4396 8754 625F R'}},
  'price': 60439},
 {'id': 42,
  'brand': 'Lotus',
  'model': 'Elan',
  'year': 1993,
  'ownership': {'company': 'Zieme-Heaney',
   'acquired': '6/4/2018',
   'payment_info': {'credit_card': 'mastercard',
    'iban': 'BE02 6279 5140 5088'}},
  'price': 74500},
 {'id': 43,
  'brand': 'Pontiac',
  'model': 'Vibe',
  'year': 2005,
  'ownership': {'company': "Torp, Kuhlman and O'Kon",
   'acquired': '5/10/2019',
   'payment_info': {'credit_card': 'switch',
    'iban': 'AZ17 FQRA GSFY NYKP 1RJR LVWF YV1P'}},
  'price': 7184},
 {'id': 44,
  'brand': 'Hummer',
  'model': 'H3',
  'year': 2009,
  'ownership': {'company': 'Zemlak-Klein',
   'acquired': '28/5/2017',
   'payment_info': {'credit_card': 'maestro',
    'iban': 'FR23 2869 5461 66BC WHUK QZX4 229'}},
  'price': 13248},
 {'id': 45,
  'brand': 'Suzuki',
  'model': 'Daewoo Lacetti',
  'year': 2004,
  'ownership': {'company': 'Ward, Feeney and Bartell',
   'acquired': '19/3/2017',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'SM40 D103 7658 390G 6FR8 26LF UDO'}},
  'price': 40391},
 {'id': 46,
  'brand': 'Ford',
  'model': 'Focus',
  'year': 2004,
  'ownership': {'company': 'Weimann-Rolfson',
   'acquired': '26/1/2021',
   'payment_info': {'credit_card': 'laser',
    'iban': 'AD33 8786 0218 WOYX MWRQ NPG3'}},
  'price': 45057},
 {'id': 47,
  'brand': 'GMC',
  'model': 'Yukon',
  'year': 1999,
  'ownership': {'company': 'Kshlerin-Tillman',
   'acquired': '23/4/2020',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'GR05 1079 0040 SK17 22RM Y4GA CQD'}},
  'price': 53378},
 {'id': 48,
  'brand': 'Oldsmobile',
  'model': 'Achieva',
  'year': 1995,
  'ownership': {'company': 'Schaden Group',
   'acquired': '4/6/2016',
   'payment_info': {'credit_card': 'jcb', 'iban': 'SI94 5161 5818 2255 589'}},
  'price': 22152},
 {'id': 49,
  'brand': 'Mercury',
  'model': 'Topaz',
  'year': 1989,
  'ownership': {'company': 'Wilderman and Sons',
   'acquired': '1/2/2019',
   'payment_info': {'credit_card': 'diners-club-enroute',
    'iban': 'DK33 3656 8480 7093 57'}},
  'price': 32731},
 {'id': 50,
  'brand': 'BMW',
  'model': 'M3',
  'year': 2012,
  'ownership': {'company': 'Schowalter-Brakus',
   'acquired': '19/4/2019',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'FR66 7187 3931 78FC HANM JMA2 X82'}},
  'price': 69487},
 {'id': 51,
  'brand': 'Ford',
  'model': 'Mustang',
  'year': 2005,
  'ownership': {'company': 'Bayer-Schamberger',
   'acquired': '14/5/2018',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'CY70 0951 7084 EDM6 31MJ KSDP IDHN'}},
  'price': 70552},
 {'id': 52,
  'brand': 'Mitsubishi',
  'model': 'Montero Sport',
  'year': 2004,
  'ownership': {'company': 'Ziemann LLC',
   'acquired': '22/8/2019',
   'payment_info': {'credit_card': 'bankcard',
    'iban': 'AL83 0351 0574 ET0W GVHU PRU8 GYEC'}},
  'price': 27252},
 {'id': 53,
  'brand': 'GMC',
  'model': '2500 Club Coupe',
  'year': 1998,
  'ownership': {'company': 'Yost, Turcotte and Larson',
   'acquired': '12/6/2020',
   'payment_info': {'credit_card': 'americanexpress',
    'iban': 'ES29 5852 1010 3132 9915 0236'}},
  'price': 70224},
 {'id': 54,
  'brand': 'Saab',
  'model': '9000',
  'year': 1989,
  'ownership': {'company': 'Borer Group',
   'acquired': '9/9/2019',
   'payment_info': {'credit_card': 'diners-club-international',
    'iban': 'AT58 1150 4380 8251 2785'}},
  'price': 37329},
 {'id': 55,
  'brand': 'Mazda',
  'model': 'Protege',
  'year': 1996,
  'ownership': {'company': 'Hintz-Ankunding',
   'acquired': '21/8/2016',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'PT77 0357 6288 4829 8069 3224 6'}},
  'price': 37945},
 {'id': 56,
  'brand': 'Mitsubishi',
  'model': 'Galant',
  'year': 1993,
  'ownership': {'company': 'Turcotte-Mosciski',
   'acquired': '21/11/2017',
   'payment_info': {'credit_card': 'china-unionpay',
    'iban': 'DO94 EYWS 2923 4097 2385 9513 6807'}},
  'price': 76366},
 {'id': 57,
  'brand': 'Nissan',
  'model': 'Frontier',
  'year': 2009,
  'ownership': {'company': 'King, Johnson and Halvorson',
   'acquired': '14/2/2017',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'BH65 EWAK 4GVA AWOH NU8V YH'}},
  'price': 36872},
 {'id': 58,
  'brand': 'Honda',
  'model': 'Civic',
  'year': 2003,
  'ownership': {'company': 'Spinka-Collier',
   'acquired': '21/7/2019',
   'payment_info': {'credit_card': 'bankcard',
    'iban': 'BH08 QUDC 3GUL WSRY MS0M OF'}},
  'price': 60042},
 {'id': 59,
  'brand': 'Infiniti',
  'model': 'I',
  'year': 2001,
  'ownership': {'company': 'Hartmann, Cole and Crooks',
   'acquired': '29/11/2018',
   'payment_info': {'credit_card': 'jcb', 'iban': 'DK87 5445 9387 8054 64'}},
  'price': 14658},
 {'id': 60,
  'brand': 'Saab',
  'model': '9-3',
  'year': 2005,
  'ownership': {'company': 'Pagac-Macejkovic',
   'acquired': '2/12/2017',
   'payment_info': {'credit_card': 'jcb', 'iban': 'GL38 0098 7230 7885 85'}},
  'price': 43838},
 {'id': 61,
  'brand': 'Lexus',
  'model': 'GX',
  'year': 2009,
  'ownership': {'company': 'Stehr, Hegmann and Carter',
   'acquired': '30/6/2017',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'FR22 9171 8965 24NY UWXC M1F7 Y30'}},
  'price': 78909},
 {'id': 62,
  'brand': 'Ford',
  'model': 'Mustang',
  'year': 1991,
  'ownership': {'company': 'Abbott-Terry',
   'acquired': '14/8/2017',
   'payment_info': {'credit_card': 'mastercard',
    'iban': 'FR40 2900 1141 54WW AO2I DV4Y H30'}},
  'price': 46646},
 {'id': 63,
  'brand': 'Ford',
  'model': 'Econoline E350',
  'year': 2002,
  'ownership': {'company': 'Waelchi, Cartwright and Nolan',
   'acquired': '11/11/2016',
   'payment_info': {'credit_card': 'visa-electron',
    'iban': 'LV89 QGLI KMWQ IX6K 5CZN P'}},
  'price': 42457},
 {'id': 64,
  'brand': 'Hummer',
  'model': 'H2 SUV',
  'year': 2006,
  'ownership': {'company': 'Ruecker-Pfeffer',
   'acquired': '14/1/2017',
   'payment_info': {'credit_card': 'visa-electron',
    'iban': 'DO79 2YAK 6837 8086 0811 3891 1025'}},
  'price': 60501},
 {'id': 65,
  'brand': 'Mercury',
  'model': 'Sable',
  'year': 2004,
  'ownership': {'company': 'Zieme-Klein',
   'acquired': '9/5/2020',
   'payment_info': {'credit_card': 'maestro',
    'iban': 'LV73 CLIB LCTL AMZY ORKR S'}},
  'price': 14174},
 {'id': 66,
  'brand': 'Pontiac',
  'model': 'Firebird',
  'year': 2002,
  'ownership': {'company': 'Flatley-Weber',
   'acquired': '17/4/2018',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'DE02 8785 7951 5133 8331 33'}},
  'price': 14996},
 {'id': 67,
  'brand': 'Infiniti',
  'model': 'G',
  'year': 2006,
  'ownership': {'company': 'Schaefer and Sons',
   'acquired': '15/12/2017',
   'payment_info': {'credit_card': 'laser',
    'iban': 'SE98 3862 1795 0074 7457 3590'}},
  'price': 28633},
 {'id': 68,
  'brand': 'Ford',
  'model': 'E350',
  'year': 2004,
  'ownership': {'company': 'Hyatt-Nienow',
   'acquired': '14/3/2018',
   'payment_info': {'credit_card': 'china-unionpay',
    'iban': 'MU39 ENRX 8262 6343 8278 7808 155F EE'}},
  'price': 26672},
 {'id': 69,
  'brand': 'Cadillac',
  'model': 'XLR-V',
  'year': 2007,
  'ownership': {'company': 'Lowe-Runolfsdottir',
   'acquired': '15/2/2019',
   'payment_info': {'credit_card': 'visa-electron',
    'iban': 'KZ55 384E YUOV ZIVJ HQK5'}},
  'price': 71545},
 {'id': 70,
  'brand': 'Lincoln',
  'model': 'Navigator',
  'year': 2001,
  'ownership': {'company': 'Yundt, Wehner and Prosacco',
   'acquired': '2/9/2016',
   'payment_info': {'credit_card': 'switch',
    'iban': 'FR97 7648 2743 23BK KCE9 5BVH 660'}},
  'price': 40506},
 {'id': 71,
  'brand': 'Cadillac',
  'model': 'STS',
  'year': 2009,
  'ownership': {'company': 'Hintz LLC',
   'acquired': '23/11/2019',
   'payment_info': {'credit_card': 'visa-electron',
    'iban': 'RS72 2146 7958 8345 4259 98'}},
  'price': 9177},
 {'id': 72,
  'brand': 'Audi',
  'model': 'S4',
  'year': 2004,
  'ownership': {'company': 'Huel, Farrell and Ortiz',
   'acquired': '28/5/2017',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'ES95 1162 8818 0407 7191 8287'}},
  'price': 55423},
 {'id': 73,
  'brand': 'GMC',
  'model': 'Yukon XL 2500',
  'year': 2003,
  'ownership': {'company': 'Stark, Homenick and Welch',
   'acquired': '17/9/2016',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'KW55 QUQI XDCI G4YW XQBR CZ3P 02WC J7'}},
  'price': 76517},
 {'id': 74,
  'brand': 'Subaru',
  'model': 'Impreza',
  'year': 1999,
  'ownership': {'company': 'Mueller and Sons',
   'acquired': '19/2/2020',
   'payment_info': {'credit_card': 'maestro',
    'iban': 'CH30 0545 5RO4 IIFE VRFL H'}},
  'price': 25799},
 {'id': 75,
  'brand': 'Ford',
  'model': 'Aspire',
  'year': 1994,
  'ownership': {'company': 'Prohaska, Gusikowski and Runolfsdottir',
   'acquired': '25/9/2017',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'PK91 PMGE 9689 MVDP NO9H I4RA'}},
  'price': 14993},
 {'id': 76,
  'brand': 'Dodge',
  'model': 'Viper',
  'year': 1997,
  'ownership': {'company': 'Kutch-Larkin',
   'acquired': '24/12/2017',
   'payment_info': {'credit_card': 'jcb',
    'iban': 'GT35 DLLK AMST LUHF GUGZ GEIG GNF0'}},
  'price': 27026},
 {'id': 77,
  'brand': 'Pontiac',
  'model': 'Grand Prix',
  'year': 1972,
  'ownership': {'company': 'VonRueden-Rempel',
   'acquired': '22/10/2018',

In [56]:
#data = pd.json_normalize(
    #response,
    #record_path=['ownership'],
    #meta=['id', 'brand', 'model', 'year',['ownership', 'company'], ['ownership', 'acquired'], ['ownership', 'payment_info'], ['ownership', 'iban'], ['ownership', 'price']], 
    #errors='ignore' 
#)

In [58]:
# normalize data to have separate rows for categories
#data = pd.json_normalize(
    #response,
    #record_path = ['ownership'], 
    #meta=['id', 'brand', 'model', 'year',['ownership', 'company'], ['ownership', 'acquired'], ['ownership', 'payment_info'], ['ownership', 'iban'], ['ownership', 'price']], 
    #errors='ignore'
#)

# print the dataframe
#data

<ul>
<li><b>2. Load the "simple.json" –file without pandas, and try to get the average price with plain Python. </li>
</ul>

In [ ]:
# code for the advanced extra task

<ul>
<li><b>3. Download the "complex.xml" file from Moodle, and create a DataFrame out of it.</b></li>
<ul>
    <li><b>Note:</b> using pandas.read_xml() would otherwise work, but it ignores the "ownership" –field. You'll have to find another way to get this data into your DataFrame as well!</li>
</ul>
</ul>

In [ ]:
# code for the advanced extra task, you can also create a separate notebook for this 
# (might be a better idea, since a new dataset always adds quite much new code)

<ul>
    <li><b>4. Try out Selenium on a site that cannot be scraped with traditional methods. You can use this tutorial as the starting point:</b></li>
    <ul>
        <li><a href="https://www.toptal.com/python/web-scraping-with-python">https://www.toptal.com/python/web-scraping-with-python</a></li>
    </ul>
</ul>

In [ ]:
# code for the advanced extra task, you can also create a separate notebook for this 
# (might be a better idea, since a new dataset always adds quite much new code)

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex5charts.jpg" width="600" />

<b>5. Extra challenging advanced task: <span style="color: red;">integrating data sources</span></b>

<ul>
<li><b>Integrate two or more datasets into one matching dataset  (pandas DataFrame)</b></li>
<ul>
<li><b>For example:</b> see the integration case in our berry semester project!</li>
</ul>
<br />
<ul>
<li>Find two or more datasets (Kaggle etc.) that have something in common and can be used for merging. </li>
</ul>

<br />
<ul>
<li><b>Typical common columns:</b></li>
<ul>
<li>Coordinates (lat/lng etc.)</li>
<li>Years, months</li>
<li>reference ids (e.g. product id -> product data)</li>
</ul>
</ul>

<br />
<ul>
<li><b>You can use pandas.merge() in order to combine DataFrames</b></li>
<ul>
<li>When combining DataFrames, make sure that the merge doesn’t mess up your data</li>
<li><b>Note:</b> merge can often create way too many extra rows depending on the merging parameters</li>

</ul>
</ul>

<br />
<ul>
<li><b>This exercise can provide even large amounts of points, depending on difficulty. Aspects that affect grading:</b></li>
<ul>
<li>Amount of datasets</li>
<li>Difficulty of the datasets</li>
<li>Using different data formats all at once (XML, JSON, CSV etc.)</li>
<li>Other techniques used to add data: web scraping, data APIs etc.</li>
</ul>
</ul>


</ul>

In [ ]:
# this exercise is probably better to do in a separate Jupyter notebook