<h3><b>Introduction to Data Analytics - Exercise set 5 - data processing and management</b></h3>

Put all your exercises (Jupyter Notebooks or Python-files) in your course Git-project.
Use either code comments or Jupyter Notebook markdown (text) to document which exercise you are doing and what a certain code section does! 
You can return all of these exercises in a single Jupyter Notebook, if you wish.

<p style="color: red;"><b>NOTE: The JSON/XML –files in Moodle in these exercises have been randomly generated. In other words, the data doesn't make any sense!</b></p>

In [183]:
# you can import numpy and pandas here etc.
import json
import numpy as np
import pandas as pd
import seaborn as sns
import xml.etree.ElementTree as et

<h4><b>1. </b>Download <b>"simple.json"</b> in Moodle, and load it in pandas.</b> </h4>
<p>
The DataFrame should look like this:
</p>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex51.png" width="1000"/>

In [184]:
# download, covert to df and open it
df = pd.read_json("simple.json")
df

,id,brand,model,year,owned_by,acquired,price
0,1,Chrysler,Voyager,2001,Wolff-Trantow,28/12/2016,11565
1,2,Volkswagen,Jetta,1995,"Schuppe, Pfeffer and Klein",20/4/2016,52431
2,3,Porsche,Cayenne,2005,Mante Group,11/6/2020,75552
3,4,Porsche,928,1994,Wisozk Group,17/6/2019,30331
4,5,Mercedes-Benz,SL-Class,2007,Schiller-Littel,20/7/2018,62385
...,...,...,...,...,...,...,...
95,96,Dodge,Ram 1500 Club,2000,Schneider-Donnelly,28/9/2016,56256
96,97,GMC,Yukon XL 2500,2001,"Powlowski, Lemke and Wiza",19/4/2016,50163
97,98,Chevrolet,Sportvan G20,1992,"O'Keefe, Rogahn and Gleichner",1/6/2019,8577
98,99,Mitsubishi,3000GT,1993,Hoppe-Kunde,29/12/2018,23180
99,100,Chevrolet,TrailBlazer,2002,Wunsch-Friesen,14/11/2018,76830

<h4><b>2.</b> Download <b>"simple.xml"</b> in Moodle, and load it in pandas</h4>
<p>
<span style="color: red"><b>Note:</b> pandas.read_xml() doesn't work well with this data.</span><br /><br >The Series should look something like this:
</p>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex52.png" />

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex52cars.jpg" width="600" />

In [185]:
# load XML-file, and get root node
xtree = et.parse("simple.xml")
node = xtree.getroot()

# column names for pandas to create DataFrame later
df_cols = ["id", "brand", "model", "year", "owned_by", "acquired", "price"]
rows = []

# parse values
e_id = node.find("id").text
e_brand = node.find("brand").text
e_model = node.find("model").text
e_year = node.find("year").text
e_owned_by = node.find("owned_by").text
e_acquired = node.find("acquired").text
e_price = node.find("price").text

# create DataFrame
rows.append({"id": e_id, "brand": e_brand, "model": e_model, "year": e_year, "owned_by": e_owned_by, "acquired": e_acquired, "price": e_price})
out_df = pd.DataFrame(rows, columns = df_cols)
out_df

  id       brand   model  year                    owned_by    acquired  price
0  1  Oldsmobile  Aurora  2003  Herzog, Rodriguez and Howe  21/10/2016  32571

<h4><b>3. Load this API-data into a pandas DataFrame:</b></h4>
<p><a href="https://edu.frostbit.fi/api/events/en/">https://edu.frostbit.fi/api/events/en/</a></p>

<p>
Remember to use json_normalize to help you out with the categories and address information.<br /><b>Have address information in their own columns, and categories as separate rows.</b><br />The DataFrame should look something like this (note that the data changes daily, and exact values will vary):


</p>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex53.png"/>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex53events.jpg" width="600" />

In [186]:
# import modules
import requests
import pandas as pd
from pandas import json_normalize

# Url address where the data is
url = f"https://edu.frostbit.fi/api/events/en/"

# download data
response = urlopen(url)
response = json.loads(response.read())

# print data to see a structure
data

[{'name': 'Open Art studio for Toddlers',
  'date': '9.5.2023',
  'categories': ['caisa',
   'children (age groups)',
   'englanti',
   'lastentapahtumat',
   'ruotsi',
   'suomi',
   'työpajat'],
  'address': {'street_address': 'Kaikukatu 4, Helsinki',
   'postal_code': '00530'}},
 {'name': 'Kinetic Orchestra: Mostly Mass – Spring Break Festival',
  'date': '13.5.2023',
  'categories': ['dance (performing arts)',
   'englanti',
   'ruotsi',
   'stoa',
   'suomi',
   'tanssi'],
  'address': {'street_address': 'Turunlinnantie 1', 'postal_code': '00900'}},
 {'name': 'UMO Helsinki Jazz Orchestra feat. Joe Bowie & Maja Mannila: Big Band Funk',
  'date': '13.10.2023',
  'categories': ['englanti', 'music', 'musiikki', 'savoy-teatteri', 'suomi'],
  'address': {'street_address': 'Kasarmikatu 46-48', 'postal_code': '00130'}},
 {'name': 'Dance and play – Workshop for toddlers (1–3 years) and their parents',
  'date': '8.5.2023',
  'categories': ['caisa',
   'children (age groups)',
   'dance (performing arts)',
   'englanti',
   'lastentapahtumat',
   'ruotsi',
   'suomi',
   'tanssi',
   'työpajat'],
  'address': {'street_address': 'Kaikukatu 4, Helsinki',
   'postal_code': '00530'}},
 {'name': 'Hiwa K: Chicago Boys – While We Were Singing, They Were Dreaming – IHME Helsinki 2023',
  'date': '13.5.2023',
  'categories': ['conversation',
   'englanti',
   'lan parties',
   'lectures',
   'luennot ja keskustelut',
   'music',
   'musiikki',
   'muut tapahtumat',
   'ruotsi',
   'stoa',
   'suomi',
   'työpajat'],
  'address': {'street_address': 'Turunlinnantie 1', 'postal_code': '00900'}},
 {'name': 'Art workout – let art move you!',
  'date': '4.5.2023',
  'categories': [],
  'address': {'street_address': 'Klaneettitie 5', 'postal_code': '00420'}},
 {'name': 'Golden Letters at Kanneltalo',
  'date': '26.4.2023',
  'categories': ['englanti',
   'kanneltalo',
   'lan parties',
   'muut tapahtumat',
   'ruotsi',
   'suomi'],
  'address': {'street_address': 'Klaneettitie 5', 'postal_code': '00420'}},
 {'name': 'Teini-Pää & Rosita Luu – A la Malmi',
  'date': '12.5.2023',
  'categories': ['englanti',
   'malmitalo',
   'music',
   'musiikki',
   'ruotsi',
   'suomi'],
  'address': {'street_address': 'Ala-Malmin tori 1', 'postal_code': '00700'}},
 {'name': 'ZinZingen – What if I stay?',
  'date': '27.5.2023',
  'categories': ['englanti',
   'kanneltalo',
   'music',
   'musiikki',
   'ruotsi',
   'suomi'],
  'address': {'street_address': 'Klaneettitie 5', 'postal_code': '00420'}},
 {'name': 'Boombox',
  'date': '2.6.2023',
  'categories': ['englanti', 'music', 'musiikki', 'savoy-teatteri', 'suomi'],
  'address': {'street_address': 'Kasarmikatu 46-48', 'postal_code': '00130'}},
 {'name': 'Guitars of the South',
  'date': '13.5.2023',
  'categories': ['aikuiset',
   'englanti',
   'kanneltalo',
   'music',
   'musiikki',
   'ruotsi',
   'suomi'],
  'address': {'street_address': 'Klaneettitie 5', 'postal_code': '00420'}},
 {'name': 'Katja Mustonen & Mirva Mäkinen: RAJA – Spring Break Festival',
  'date': '9.5.2023',
  'categories': ['dance (performing arts)',
   'englanti',
   'ruotsi',
   'stoa',
   'suomi',
   'tanssi'],
  'address': {'street_address': 'Turunlinnantie 1', 'postal_code': '00900'}},
 {'name': 'Sanapaja / Wordshop',
  'date': '4.5.2023',
  'categories': ['englanti',
   'kirjallisuus ja sanataide',
   'literature',
   'muu',
   'nuorille',
   'ruotsi',
   'stoa',
   'suomi',
   'työpajat',
   'young people'],
  'address': {'street_address': 'Turunlinnantie 1', 'postal_code': '00900'}}]

In [187]:
# normalize data to have separate rows for categories
events = pd.json_normalize(
    response,
    record_path = ['categories'], 
    meta=['name', "date", ['address', 'street_address'], ['address', 'postal_code']], 
    errors='ignore'
)

# for some reasons renaming does not work
events = events.rename(columns={"0": "categories"})

# print the dataframe
events

,0,name,date,address.street_address,address.postal_code
0,caisa,Open Art studio for Toddlers,9.5.2023,"Kaikukatu 4, Helsinki",00530
1,children (age groups),Open Art studio for Toddlers,9.5.2023,"Kaikukatu 4, Helsinki",00530
2,englanti,Open Art studio for Toddlers,9.5.2023,"Kaikukatu 4, Helsinki",00530
3,lastentapahtumat,Open Art studio for Toddlers,9.5.2023,"Kaikukatu 4, Helsinki",00530
4,ruotsi,Open Art studio for Toddlers,9.5.2023,"Kaikukatu 4, Helsinki",00530
...,...,...,...,...,...
80,ruotsi,Sanapaja / Wordshop,4.5.2023,Turunlinnantie 1,00900
81,stoa,Sanapaja / Wordshop,4.5.2023,Turunlinnantie 1,00900
82,suomi,Sanapaja / Wordshop,4.5.2023,Turunlinnantie 1,00900
83,työpajat,Sanapaja / Wordshop,4.5.2023,Turunlinnantie 1,00900
84,young people,Sanapaja / Wordshop,4.5.2023,Turunlinnantie 1,00900

<h4><b>4. Use web scraping (e.g. BeautifulSoup), and use it to get the following info from the Rovaniemi Wikipedia –page</b></h4>
<p><b>Wiki-page:</b> <a href="https://en.wikipedia.org/wiki/Rovaniemi">https://en.wikipedia.org/wiki/Rovaniemi</a></p>

<b>Tasks:</b>
<ul>
    <li>Get the coordinates of Rovaniemi (upper right corner)</li>
    <li>Get the nickname of Rovaniemi (under coat of arms)</li>
</ul>

<b>Advanced extra tasks:</b>
<ul>
    <li><b>Get the total population</b></li>
    <ul>
        <li><b>Note:</b> this is a good example why webscraping can be tedious, since you'll have to traverse the HTML-tree to get what you want. This might be helpful:<br />
<a href="https://realpython.com/beautiful-soup-web-scraper-python/">https://realpython.com/beautiful-soup-web-scraper-python/</a></li>
    </ul>
    
</ul>

<ul>
    <li><b>Get the total area</b></li>
    <ul>
        <li>Convert this number into a float decimal (i.e. remove commas and the unit and call float() –in Python!)</li>
    </ul>
    
</ul>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex54rovaniemi.jpg" width="600" />

In [188]:
# needed modules for webscraping
from bs4 import BeautifulSoup
import requests

In [189]:
# website url
url = "https://en.wikipedia.org/wiki/Rovaniemi"
response = requests.get(url)

# create a soup -object that allows us to find elements in the HTML page
soup = BeautifulSoup(response.content, "html.parser")

In [190]:
# get and print the coordinates
coordinates_tag = soup.select_one(".geo-dec")
coordinates = coordinates_tag.text.strip()
print("Coordinates:", coordinates)

Coordinates: 66.500°N 25.733°E

In [191]:
# get the nickname
nickname_tag = soup.select_one(".nickname")
nickname = nickname_tag.text.strip()
print("Nicknames:", nickname)

Nicknames: Roavvenjárga (Northern Sami)Ruávinjargâ (Inari Sami)Ruäʹvnjargg (Skolt Sami)

<h4><b>5. Use web scraping, and create a DataFrame of this table: </b></h4>
<p> <a href="https://en.wikipedia.org/wiki/List_of_countries_by_average_yearly_temperature">https://en.wikipedia.org/wiki/List_of_countries_by_average_yearly_temperature</a></p>

<ul>
    <li>Change the name of the value column to "avg_temp" as well (pandas column rename)</li>
</ul>

<b>Advanced extra task:</b>
<ul>
    <li><b>Scrape these two tables as well</b></li>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/List_of_countries_by_employment_rate">https://en.wikipedia.org/wiki/List_of_countries_by_employment_rate</a></li>
        <li><a href="https://en.wikipedia.org/wiki/List_of_countries_by_unemployment_rate">https://en.wikipedia.org/wiki/List_of_countries_by_unemployment_rate</a></li>
    </ul>
    <br />
    <ul>
        <li><b>Combine the tables into a single DataFrame so that you get only the data of year 2020 or newer, and have the columns <span style="color: darkorange">"Country", "EmploymentRate"</span> and <span style="color: darkorange">"UnemploymentRate"</span>. You can also create additional columns <span style="color: indigo">"EmploymentRate15_24"</span>and <span style="color: indigo">" EmploymentRate25_70"</span> if you scrape the OECD-table as well! </b>

</li>
    </ul>
</ul>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex55stocks.jpg" width="600" />

In [192]:
# Send a request to the website and get the HTML content
url = "https://en.wikipedia.org/wiki/List_of_countries_by_average_yearly_temperature"
response = requests.get(url)
html_content = response.content

# create a soup -object that allows us to find elements in the HTML page
# create a table
soup = BeautifulSoup(html_content, "html.parser")
table = soup.find("table", {"class": "wikitable sortable"})

# Convert the table into a DataFrame using pandas
df = pd.read_html(str(table))[0]

# Rename the value column to "avg_temp"
df.rename(columns={"Average yearly temperature (1961–1990 Celsius)": "Avg_temp"}, inplace=True)

df

              Country avg_temp
0        Burkina Faso    28.29
1                Mali    28.25
2            Kiribati    28.20
3            Djibouti    28.00
4            Maldives    28.00
..                ...      ...
187   Norway [note 1]    01.50
188           Iceland    −0.70
189  Denmark [note 2]    −3.70
190            Canada    −5.10
191            Russia    −5.35

[192 rows x 2 columns]

In [204]:
# advanced extra task

# send a request to the 1st URL and get the HTML content
url1 = "https://en.wikipedia.org/wiki/List_of_countries_by_employment_rate"
response1 = requests.get(url1)
html_content1 = response1.content

In [205]:
# parse the HTML content using BeautifulSoup and get the table
soup1 = BeautifulSoup(html_content1, "html.parser")
table1 = soup1.find_all("table", {"class": "wikitable"})[0]

# convert the table into a df
df_emp = pd.read_html(str(table1))[0]

In [206]:
# do the same work with the second table
# send a request to the 2nd URL and get the HTML content
url2 = "https://en.wikipedia.org/wiki/List_of_countries_by_unemployment_rate"
response2 = requests.get(url2)
html_content2 = response2.content

# parse the HTML content using BeautifulSoup and extract the table
soup2 = BeautifulSoup(html_content2, "html.parser")
table2 = soup2.find_all("table", {"class": "wikitable"})[0]

# also convert the table into a DataFrame
df_unemp = pd.read_html(str(table2))[0]

In [207]:
# merge the two DataFrames on country name
df_merged = pd.merge(df_emp, df_unemp, on="Country")

# get only data from year 2020 or newer
# but before we have to change the format of "Year" column
df_merged["Year"] = df_merged["Year"].astype(int)
df_merged = df_merged[df_merged["Year"] >= 2020]

# change names of columns
df_merged = df_merged.rename(columns={"Rate .mw-parser-output .nobold{font-weight:normal}(%)": "EmploymentRate", "Unemployment rate (%)": "UnemploymentRate"})

# choose which columns to show
df_merged = df_merged.loc[:, ["Country", "EmploymentRate", "UnemploymentRate"]]

# print df
df_merged

             Country  EmploymentRate  UnemploymentRate
0      New Zealand *            79.2              3.30
1          Denmark *            76.5              4.50
2           Sweden *            76.0              7.70
3   United Kingdom *            75.5              3.50
4        Australia *            75.3              3.40
6          Estonia *            75.0              5.70
7           Canada *            74.7              4.90
8          Hungary *            73.9              3.00
9            Malta *            73.8              3.00
10         Finland *            73.5              6.70
11          Russia *            72.2              3.90
12        Portugal *            71.0              6.10
13          Poland *            70.9              2.70
14   United States *            70.5              3.50
15        Slovakia *            70.5              6.00
16        Bulgaria *            68.5              4.30
17          France *            67.7              7.20
18     South Korea *            67.2              2.90
19         Belgium *            66.0              5.50
20           Spain *            63.8             12.48
21         Croatia *            62.0              6.10
22          Mexico *            61.9              3.30
23          Greece *            59.2             12.30
24          Brazil *            56.7              9.30
25          Turkey *            51.7             10.30
26           India *            49.0              7.80
27    South Africa *            36.5             32.90


<h2><b>Advanced extra tasks for extra points (varying challenges, some require Googling):</b></h2>

<ul>
<li><b>1. Download the "complex.json" –file from Moodle.</b> Note that this data is fairly complex (i.e. heavily nested). Use json_normalize and other needed methods to convert this data into a workable DataFrame.</li>
</ul>

In [194]:
# code for the advanced extra task

<ul>
<li><b>2. Load the "simple.json" –file without pandas, and try to get the average price with plain Python. </li>
</ul>

In [195]:
# code for the advanced extra task

<ul>
<li><b>3. Download the "complex.xml" file from Moodle, and create a DataFrame out of it.</b></li>
<ul>
    <li><b>Note:</b> using pandas.read_xml() would otherwise work, but it ignores the "ownership" –field. You'll have to find another way to get this data into your DataFrame as well!</li>
</ul>
</ul>

In [196]:
# code for the advanced extra task, you can also create a separate notebook for this 
# (might be a better idea, since a new dataset always adds quite much new code)

<ul>
    <li><b>4. Try out Selenium on a site that cannot be scraped with traditional methods. You can use this tutorial as the starting point:</b></li>
    <ul>
        <li><a href="https://www.toptal.com/python/web-scraping-with-python">https://www.toptal.com/python/web-scraping-with-python</a></li>
    </ul>
</ul>

In [197]:
# code for the advanced extra task, you can also create a separate notebook for this 
# (might be a better idea, since a new dataset always adds quite much new code)

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex5charts.jpg" width="600" />

<b>5. Extra challenging advanced task: <span style="color: red;">integrating data sources</span></b>

<ul>
<li><b>Integrate two or more datasets into one matching dataset  (pandas DataFrame)</b></li>
<ul>
<li><b>For example:</b> see the integration case in our berry semester project!</li>
</ul>
<br />
<ul>
<li>Find two or more datasets (Kaggle etc.) that have something in common and can be used for merging. </li>
</ul>

<br />
<ul>
<li><b>Typical common columns:</b></li>
<ul>
<li>Coordinates (lat/lng etc.)</li>
<li>Years, months</li>
<li>reference ids (e.g. product id -> product data)</li>
</ul>
</ul>

<br />
<ul>
<li><b>You can use pandas.merge() in order to combine DataFrames</b></li>
<ul>
<li>When combining DataFrames, make sure that the merge doesn’t mess up your data</li>
<li><b>Note:</b> merge can often create way too many extra rows depending on the merging parameters</li>

</ul>
</ul>

<br />
<ul>
<li><b>This exercise can provide even large amounts of points, depending on difficulty. Aspects that affect grading:</b></li>
<ul>
<li>Amount of datasets</li>
<li>Difficulty of the datasets</li>
<li>Using different data formats all at once (XML, JSON, CSV etc.)</li>
<li>Other techniques used to add data: web scraping, data APIs etc.</li>
</ul>
</ul>


</ul>

In [198]:
# this exercise is probably better to do in a separate Jupyter notebook