<h3><b>Introduction to Data Analytics - Exercise set 1 - Python and NumPy Basics</b></h3>

Put all your exercises (Jupyter Notebooks or Python-files) in your course Git-project.
Use either code comments or Jupyter Notebook markdown (text) to document which exercise you are doing and what a certain code section does! 
You can return all of these exercises in a single Jupyter Notebook, if you wish.

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_1/numpylogo.png" width="250"/>

In [72]:
# setup all needed modules and configurations
import numpy as np

In [73]:
# re-style the NumPy arrays
# remember to install needed module first:
# pip3 install numpy-html
%reload_ext numpy_html

Run the cell below to enable custom style for NumPy arrays:

In [74]:
%%html
<style>
table {margin-top: 16pt;}
td {font-family: Arial, Helvetica, sans-serif !important; font-weight: 600; white-space: normal !important;}
tr:nth-child(even) {background: #b0d9eb !important; color: black}
tr:nth-child(odd) {background: #8fb1bf !important; color: black}
</style>

<h4><b>1. Create these lists without NumPy:</b></h4>

- List of 15 ones

- List of 15 number 7's

- List of numbers from 100 to 150

- List of even numbers between 0 and 100

- List of years that are divisible by 4 between 1950 and 2020

<br>

<b>Tip: creating a list with Python code is usually something like this:</b>

<pre>
numbers = []

for x in range(0, 5):
    numbers.append(x)
</pre>

In [75]:
# exercise 1.1 List of 15 ones
numbers = []

for x in range(0, 15):
    numbers.append(x)  
    
numbers

[1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000,
 2004,
 2008,
 2012,
 2016,
 2020]

In [ ]:
# exercise 1.2 List of 15 number 7's
numbers = []

for i in range(15):
    numbers.append(7)
    
numbers

In [ ]:
# exercise 1.3 List of numbers from 100 to 150
numbers = []

for i in range(100, 151):
    numbers.append(i)

numbers

In [ ]:
# exercise 1.4 List of even numbers between 0 and 100
even_numbers = []

for i in range(0, 101, 2):
    even_numbers.append(i)

even_numbers

In [ ]:
# exercise 1.5 List of years that are divisible by 4 between 1950 and 2020
leap_years = []

for year in range(1950, 2021):
    if year % 4 == 0:
        leap_years.append(year)

leap_years

<h4><b>2.	Now, create these arrays with NumPy!</b></h4>

- Array of 15 zeroes

- Array of 15 ones

- Array of 15 number 7's

- Array of numbers from 100 to 150

- Array of numbers from 1900 to 2021

- Array of even numbers between 0 and 100

- Array of years that are divisible by 4 between 1950 and 2020

In [76]:
# exercise 2.1 

Array of 15 zeroes
data = np.zeros(15)
data

# exercise 2.2 Array of 15 ones
data = np.ones(15)
data

# exercise 2.3 Array of 15 number 7's
data = np.ones(15)
data = data * 7
data

# exercise 2.4 Array of numbers from 100 to 150
data = np.arange(100, 151)
data

# exercise 2.5 Array of numbers from 1900 to 2021
data = np.arange(1900, 2022)
data

# exercise 2.6 Array of even numbers between 0 and 100
even_numbers = []

for i in range(0, 101, 2):
    even_numbers.append(i)
even_numbers_array = np.array(even_numbers)

even_numbers_array

# exercise 2.7 Array of years that are divisible by 4 between 1950 and 2020
leap_years = []

for year in range(1950, 2021):
    if year % 4 == 0:
        leap_years.append(year)
leap_years_array = np.array(leap_years)

leap_years_array

# Creating lists without NumPy was more difficult because I did not remember how to do it :)

array([1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992,
       1996, 2000, 2004, 2008, 2012, 2016, 2020])

<h4><b style="color: red">Note: compare the NumPy code to the plain Python code after doing the exercises. Easier or more difficult? :) 
(answer in code comments or as text in Jupyter Notebook)</b></h4>

<h3><b>3. Let's try out NumPy matrices:</b></h3>

- Create a 7x7 matrix, with values from 1 to 49

    - Extra task: Create this matrix (list of lists) without NumPy in Python!

<br>

- Generate 8x8 random number matrix, values between 0 and 5

- Generate 8x8 random number matrix, using standard normal distribution values (= values are between -3 and 3)

In [77]:
# exercise 3: create a 7x7 matrix, with values from 1 to 49
data = np.arange(1, 50).reshape(7, 7)
data

# extra task: create this matrix (list of lists) without NumPy in Python
data = []

value = 1
for i in range(7):
    row = []
    for j in range(7):
        row.append(value)
        value = value + 1
    data.append(row)

data

# Generate 8x8 random number matrix, values between 0 and 5
data = np.random.randint(0, 5, 64).reshape(8, 8)
data

# Generate 8x8 random number matrix, using standard normal distribution values (= values are between -3 and 3)
data = np.random.randint(-3, 3, 64).reshape(8, 8)
data

array([[ 1,  1,  1, -3,  2, -3,  1, -3],
       [ 0, -3, -3,  1,  2,  2, -3, -3],
       [ 0,  0,  0, -1, -3, -2,  2,  0],
       [-2,  0,  0, -2, -2,  0, -3, -1],
       [ 1,  1, -1, -1, -2,  0, -1,  2],
       [ 1,  2,  2,  1,  0,  1, -2,  2],
       [-1, -1,  0,  0, -2,  2,  0,  1],
       [ 1, -1, -2, -1, -3,  1,  0,  1]])

<h3><b>4. Create a linearly spaced… </b></h3>

- array (list/vector) of 10 values between value 0 and 1

- 10x10 matrix between values 0 and 5

    - Extra task: create this matrix without NumPy as well!


<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_1/cubes.png"/>

In [78]:
# exercise 4: create a linearly spaced array (list/vector) of 10 values between value 0 and 1
data = np.linspace(0, 1, 10)
data

# 10x10 matrix between values 0 and 5
data = np.random.randint(0, 6, size=(10, 10))
data

# 10x10 matrix between values 0 and 5. Extra task
data = []

for i in range(10):
    row = []
    for x in range(10):
        row.append(int(5 * (x + i * 10) / 100))
    data.append(row)

for row in data:
    print(row)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]
[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]
[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]
[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]
[4, 4, 4, 4, 4, 4, 4, 4, 4, 4]
[4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

<h3><b>5. Recreate the matrices in code based on the pictures.</b></h3>

- Create this 3x5 matrix with NumPy:

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_1/matrix1.png"/>


Note: The values above have no logic, you'll have to feed basic Python lists to NumPy for this result

In [79]:
# exercise 5.1: Create this 3x5 matrix with NumPy
data = np.random.randint(23, 51, 15).reshape(3, 5)
data

array([[26, 40, 29, 46, 28],
       [31, 49, 31, 37, 33],
       [28, 44, 38, 31, 30]])

- Generate this NumPy array:

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_1/matrix2.png" width="800"/>

In [80]:
# exercise 5.2, generate NumPy array / matrix
data = np.arange(128, 256).reshape(8, 16)
data

array([[128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140,
        141, 142, 143],
       [144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
        157, 158, 159],
       [160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172,
        173, 174, 175],
       [176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188,
        189, 190, 191],
       [192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204,
        205, 206, 207],
       [208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
        221, 222, 223],
       [224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236,
        237, 238, 239],
       [240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252,
        253, 254, 255]])

- Generate this NumPy array:

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_1/matrix3.png" width="500"/>

<b>Tips:</b> arange-function (and step-parameter) + reshape is recommended. Alternatively you can use broadcasting and division if you like.

In [81]:
# exercise 5.3, generate NumPy array / matrix
data = np.linspace(0.05, 5, 100).reshape(10, 10)
data

array([[0.05, 0.1 , 0.15, 0.2 , 0.25, 0.3 , 0.35, 0.4 , 0.45, 0.5 ],
       [0.55, 0.6 , 0.65, 0.7 , 0.75, 0.8 , 0.85, 0.9 , 0.95, 1.  ],
       [1.05, 1.1 , 1.15, 1.2 , 1.25, 1.3 , 1.35, 1.4 , 1.45, 1.5 ],
       [1.55, 1.6 , 1.65, 1.7 , 1.75, 1.8 , 1.85, 1.9 , 1.95, 2.  ],
       [2.05, 2.1 , 2.15, 2.2 , 2.25, 2.3 , 2.35, 2.4 , 2.45, 2.5 ],
       [2.55, 2.6 , 2.65, 2.7 , 2.75, 2.8 , 2.85, 2.9 , 2.95, 3.  ],
       [3.05, 3.1 , 3.15, 3.2 , 3.25, 3.3 , 3.35, 3.4 , 3.45, 3.5 ],
       [3.55, 3.6 , 3.65, 3.7 , 3.75, 3.8 , 3.85, 3.9 , 3.95, 4.  ],
       [4.05, 4.1 , 4.15, 4.2 , 4.25, 4.3 , 4.35, 4.4 , 4.45, 4.5 ],
       [4.55, 4.6 , 4.65, 4.7 , 4.75, 4.8 , 4.85, 4.9 , 4.95, 5.  ]])

<h3><b>6. Use this matrix in your code:</b></h3>

dataset = np.arange(1, 37).reshape(6, 6)

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_1/matrix4.png"/>

In [82]:
# exercise 6.1, matrix slicing
dataset = np.arange(1, 37).reshape(6, 6)
dataset

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36]])

- Create a slice of the matrix that contains this part of the matrix:

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_1/matrix5.png"/>

In [83]:
# exercise 6.2, matrix slicing
# [row; column]
section = dataset[3:,2:]
section

array([[21, 22, 23, 24],
       [27, 28, 29, 30],
       [33, 34, 35, 36]])

- Pick out this column slice from data

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_1/series1.png"/>

In [84]:
# exercise 6.3, matrix slicing
column = dataset[:4,3]
column

array([ 4, 10, 16, 22])

- Pick out this row from the data

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_1/series2.png"/>

In [85]:
# exercise 6.4, matrix slicing
row = dataset[2]
row

array([13, 14, 15, 16, 17, 18])

- Pick out these three rows from data:

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_1/matrix6.png"/>

In [86]:
# exercise 6.5, matrix slicing
# [row; column]
section = dataset[3:,0:]
section

array([[19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36]])

<h3><b>7. Use this matrix:</b></h3>

<b>dataset_2 = np.arange(1, 50).reshape(7, 7)</b>

- Add 50 to all values in the array (use broadcasting)

- Get the sum of all values in the dataset

- Get sum of only odd numbers in the dataset

- Get the standard deviation of the values in the dataset

- Get the sum of all values by ROW in the dataset

- Get the sum of all values by COLUMN in the dataset (tip, use the axis –parameter)

<br>

- <b>Extra task:</b> Do the total sum, row sum and column sum exercises< <b>without</b> NumPy in Python!

<br><br>
<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_1/desktopcomputer.png"/>

In [92]:
# exercise 7, NumPy -operations on a matrix
dataset_2 = np.arange(1, 50).reshape(7, 7)
dataset_2

# Add 50 to all values in the array (use broadcasting)
added = data + 50
added

# Get the sum of all values in the dataset
sum = np.sum(dataset_2)
sum

# Get sum of only odd numbers in the dataset
odd_numbers = dataset_2[dataset_2 % 2 != 0]
sum_of_odd_numbers = np.sum(odd_numbers)
sum_of_odd_numbers

# Get the standard deviation of the values in the dataset
standard_deviation = np.std(dataset_2)
standard_deviation

# Get the sum of all values by ROW in the dataset
sum_of_values_by_row = np.sum(dataset_2, axis=1)
sum_of_values_by_row

# Get the sum of all values by COLUMN in the dataset (tip, use the axis –parameter)
sum_of_values_by_column = np.sum(dataset_2, axis=0)
sum_of_values_by_column

# Extra task: total sum and column sum exercises without NumPy in Python!

# Total sum
total_sum = 0
for row in dataset_2:
    for value in row:
        total_sum = total_sum + value

total_sum

# Column sum
column_sum = [0] * len(dataset_2[0])
for row in dataset_2:
    for i, value in enumerate(row):
        column_sum[i] = column_sum[i] + value

column_sum

[154, 161, 168, 175, 182, 189, 196]

<br><br>
<h2><b>Advanced extra tasks for extra points (varying challenges, some require Googling):</b></h2>

<h3><b>1. Create two files for this exercise: save_matrix.py and read_matrix.py</b></h3>

- in save_matrix.py: create a 15x15 matrix, and save it to a file (matrix.txt)
 - in read_matrix.py, read matrix.txt, and convert it back to a NumPy matrix

NumPy has loadtxt() and savetxt()-functions for these purposes.

In [88]:
# advanced extra exercise 1

# files are created in the same folders
# everything is pushed to Git

<h3><b>2. Masked arrays are a feature of NumPy that allow us to deal with pieces data that are incorrect or missing in a dataset (for example, faulty measurements from equipment etc.).</b></h3>

Create a NumPy matrix, that contains numbers between 0 to 50, and put some faulty numbers in a 10 different spots 
(for example: -100)

Use a masked array to handle the -100 values in your matrix. Replace every -100 with 0.

In [89]:
# advanced extra exercise 2

<h3><b>3. argsort is a feature of NumPy  that allows you to sort a NumPy array based on another NumPy array. </b></h3>

This is useful if you have two separate arrays, but their data  should be in sync even if order of data is changed. For example, one array contains the prices of cars, and another contains the manufacturing years. If we wish to sort the data by manufacturing years, and keep the prices in sync as well, argsort will be handy.

Useful link:
http://arogozhnikov.github.io/2015/09/29/NumpyTipsAndTricks1.html

Create two random datasets:

- Manufacturing years of 10 cars, values between 2010 and 2020

- Selling price of 10 cars, prices between 2000€ and 60000€

Use argsort to sort both datasets according to manufacturing years.

In [90]:
# advanced extra exercise 3

<h3><b>4. Try out the following additional NumPy features, and discuss in your code comments or in Jupyter Notebook text where they could be useful. You can also Google and search for ideas where these could be used. </b></h3>

You can write your thoughts as comments in the code or Jupyter text as you try out each feature.

- np.repeat()

- np.ravel()

- np.hsplit(), np.vsplit(), np.hstack, np.vstack()

- np.transpose()

- np.round()

- np.expand_dims(), np.squeeze()

- np.digitize()

In [91]:
# advanced extra exercise 4